<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MPTEntities" connectionString="metadata=res://*/Model.MPTModel.csdl|res://*/Model.MPTModel.ssdl|res://*/Model.MPTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.220\wincc;initial catalog=MPT;persist security info=True;user id=mpt;password=fnkfynbc;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>