<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="PositionEntities" connectionString="metadata=res://*/Model.Positions.Positions.csdl|res://*/Model.Positions.Positions.ssdl|res://*/Model.Positions.Positions.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.100.220;User Id=root;password=root;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <add name="MPTEntities" connectionString="metadata=res://*/Model.MPTModel.csdl|res://*/Model.MPTModel.ssdl|res://*/Model.MPTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.220\wincc;initial catalog=MPT;persist security info=True;user id=mpt;password=fnkfynbc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataLogEntities" connectionString="metadata=res://*/Model.DataLogModel.csdl|res://*/Model.DataLogModel.ssdl|res://*/Model.DataLogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.220\wincc;initial catalog=DLGLOG;persist security info=True;user id=webmpt;password=webmpt123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly></dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
